
.chargementDepage{
 display:flex;
 flex-direction:row;
 width:100%;
 height:100%;
 background-color: white;
 z-index:3;
  position:fixed;
 animation:bg 3s linear both;
   @keyframes bg {
 0% {
  opacity:1;
  }
  25% {
   opacity:.7;
    }
  50% {
    opacity:.5;
  }
  75% {
    opacity:.3;
  }
  
 100% {
   opacity: 0;
   z-index:-3;
 }
}


 .points{
   display:flex;
  position:fixed;
   top:50%;
   right:50%;
  
   
   div{
      margin:0px 10px;
      border-radius:50%;
   }
  
  .point1{
    width:20px;
    height:20px;
    background-color:$couleur-Primaiere;
    animation: points_rebond 1.3s linear 3 both;
} 

 .point2{
    width:20px;
    height:20px;
    background-color:$couleur-Secondaire;
    animation: points_rebond 1.6s linear 3 both;
}
 .point3{
  width:20px;
  height:20px;
   background-color:$couleur-Tertiaire;
   animation:points_rebond 1.9s linear 3 both ;
}

@keyframes points_rebond {
   0%{
     transform:scale(0);
   }
   50%{
     transform: scale(1.5);
   }
   100%{
     transform: scale(0);
  
   }
}

}

 }