//couleurs//
$couleur-Primaiere: #9356DC;
$couleur-Secondaire:#FF79DA;
$couleur-Tertiaire:#99E2D0;
$fond-gris:hsl(0, 0%, 95%);
$text-footer:#FFFFFf;
$font-weights:(
   "thin": 300,
   "regular":400,
   "medium":500,
   "bold" :600,
   "bolder":700,
);

// polices//
$police-logo-titre:'Shrikhand', cursive;
$police-text:'Roboto', sans-serif;
$section-h3:'30px';
$section-p:'20px';



// mixin
@mixin section-h3 {
  font-size:18px;
  font-weight:600;
  font-family:'Roboto', sans-serif;
}
@mixin section-h2 {
  font-size:15px;
  font-weight:bold;
  font-family:'Roboto', sans-serif;
}
@mixin h1-index {
  font-size:20px;
  font-weight:bold 700;
  font-family:'Roboto', sans-serif;
}

@mixin section-p{
    font-weight:500;
    font-family:'Roboto', sans-serif;
    font-size:16px;
}
@mixin section-menu-p{
  font-weight:500;
  font-family:'Roboto', sans-serif;
  font-size:13px;
}

  
@mixin buttons {
  border-radius:2rem;
  border:none;
  // background-color:$couleur-Secondaire;
  background-image: linear-gradient(to bottom, $couleur-Secondaire,$couleur-Primaiere, 
  );
  color:rgb(243, 243, 243);
}
@mixin ceour_btn {
  background-image: linear-gradient(to bottom, $couleur-Secondaire,$couleur-Primaiere,)

  }

  @mixin flexCenter{
    display:flex;
    justify-content: center;
    align-items:center;
  }
@mixin flexCenter2 {
  display:flex;
  align-items:center;
}

// media query//
$mobile:370px;
@mixin mobile{
  @media(min-width:#{$mobile}){
    @content;
  }
}
$ipad:700px;
 @mixin ipad{
   @media(min-width:#{$ipad}){
     @content;
   }
 }

 $desktop:1024px;

  @mixin desktop{
    @media (min-width:#{$desktop}){ 
      @content;
  }

}

