@charset "UTF-8";
.chargementDepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 3;
  position: fixed;
  -webkit-animation: bg 3s linear both;
          animation: bg 3s linear both;
}

@-webkit-keyframes bg {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .7;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .3;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}

@keyframes bg {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .7;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .3;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}

.chargementDepage .points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 50%;
  right: 50%;
}

.chargementDepage .points div {
  margin: 0px 10px;
  border-radius: 50%;
}

.chargementDepage .points .point1 {
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  -webkit-animation: points_rebond 1.3s linear 3 both;
          animation: points_rebond 1.3s linear 3 both;
}

.chargementDepage .points .point2 {
  width: 20px;
  height: 20px;
  background-color: #FF79DA;
  -webkit-animation: points_rebond 1.6s linear 3 both;
          animation: points_rebond 1.6s linear 3 both;
}

.chargementDepage .points .point3 {
  width: 20px;
  height: 20px;
  background-color: #99E2D0;
  -webkit-animation: points_rebond 1.9s linear 3 both;
          animation: points_rebond 1.9s linear 3 both;
}

@-webkit-keyframes points_rebond {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes points_rebond {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

body {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  min-width: 300px;
  background-color: #f2f2f2;
}

body header .header_items {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .header_items .fas {
  padding-left: 15px;
  font-size: 15px;
}

body header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  body header h1 {
    font-size: 35px;
  }
}

body img {
  margin-top: 20px;
  position: relative;
  z-index: -1;
  min-width: 150px;
  max-width: 100%;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 0;
}

@media (min-width: 700px) {
  body img {
    margin-top: 0;
    height: 400px;
  }
}

body main {
  background-color: #f2f2f2;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  border-radius: 40px 40px 0 0;
}

body main .menu_contneur .titres_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .menu_contneur .titres_icon h1 {
  font-family: "Shrikhand", cursive;
  font-size: 21px;
  padding-left: 20px;
  margin: 30px 0 0;
}

@media (min-width: 700px) {
  body main .menu_contneur .titres_icon h1 {
    padding-left: 50px;
  }
}

body main .menu_contneur .titres_icon .coeurs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 20px 0 0;
}

body main .menu_contneur .titres_icon .coeurs .coeur1 {
  font-size: 25px;
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
  z-index: 1;
  font-size: 24px;
  color: #858383;
}

body main .menu_contneur .titres_icon .coeurs .coeur2 {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background: -webkit-linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  opacity: 0;
  -webkit-transition: .7s linear;
  transition: .7s linear;
}

body main .menu_contneur .titres_icon .coeurs .coeur1:hover + .coeur2 {
  opacity: 0.9;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (min-width: 700px) {
  body main .menu_contneur .box_menu_contneur {
    display: block;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 700px) and (min-width: 1024px) {
  body main .menu_contneur .box_menu_contneur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

body main .menu_contneur .menu_entrée .entrée_titre {
  padding-left: 25px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 75px;
  padding-bottom: 5px;
}

@media (min-width: 700px) {
  body main .menu_contneur .menu_entrée .entrée_titre {
    padding-left: 50px;
  }
}

@media (min-width: 1024px) {
  body main .menu_contneur .menu_entrée .entrée_titre {
    padding-left: 10px;
  }
}

body main .menu_contneur .menu_entrée .entrée_titre::after {
  display: block;
  position: relative;
  content: "";
  background-color: #99E2D0;
  bottom: -10px;
  height: 2px;
  width: 55px;
}

body main .menu_contneur .menu_entrée .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  width: 90%;
  -webkit-box-shadow: 1px 1px 1px #d4d3d3;
          box-shadow: 1px 1px 1px #d4d3d3;
  overflow: hidden;
  padding-left: 10px;
  -webkit-animation: menu .9s linear;
          animation: menu .9s linear;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@media (min-width: 1024px) {
  body main .menu_contneur .menu_entrée .menu {
    width: 300px;
  }
}

@-webkit-keyframes menu {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background-color: white;
  }
}

@keyframes menu {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background-color: white;
  }
}

body main .menu_contneur .menu_entrée .menu .menu_titre_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body main .menu_contneur .menu_entrée .menu .menu_titre_icon h2 {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 5px 0;
}

body main .menu_contneur .menu_entrée .menu .menu_titre_icon p {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 1px 0 0 0;
}

body main .menu_contneur .menu_entrée .menu span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px 5px 0 5px;
  margin-left: auto;
}

@media (min-width: 1024px) {
  body main .menu_contneur .menu_entrée .menu span {
    bottom: 25px;
  }
}

body main .menu_contneur .menu_entrée .menu .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body main .menu_contneur .menu_entrée .menu .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  width: 20%;
  left: 100%;
  padding: 20px 0;
  border-radius: 0 12px 12p;
  margin-right: -50px;
  border-radius: 0 12px 12px 0;
  visibility: hidden;
  z-index: 31;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@media (min-width: 700px) {
  body main .menu_contneur .menu_entrée .menu .slider {
    width: 10%;
  }
}

@media (min-width: 1024px) {
  body main .menu_contneur .menu_entrée .menu .slider {
    width: 20%;
  }
}

body main .menu_contneur .menu_entrée .menu:hover .slider {
  visibility: visible;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  margin-left: 60px;
  visibility: visible;
}

body main .menu_contneur .menu_entrée .menu:hover .slider .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

body main .menu_contneur .menu_plat .plat_titre {
  padding-left: 20px;
  margin: 14px 0 23px 0;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media (min-width: 700px) {
  body main .menu_contneur .menu_plat .plat_titre {
    padding-left: 50px;
  }
}

@media (min-width: 1024px) {
  body main .menu_contneur .menu_plat .plat_titre {
    padding-left: 10px;
  }
}

body main .menu_contneur .menu_plat .plat_titre::after {
  display: block;
  position: relative;
  content: "";
  background-color: #99E2D0;
  bottom: -10px;
  height: 2px;
  width: 45px;
}

body main .menu_contneur .menu_plat .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  width: 90%;
  -webkit-box-shadow: 1px 1px 1px #d4d3d3;
          box-shadow: 1px 1px 1px #d4d3d3;
  overflow: hidden;
  padding-left: 10px;
  -webkit-animation: menu 2s linear;
          animation: menu 2s linear;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@media (min-width: 1024px) {
  body main .menu_contneur .menu_plat .menu {
    width: 300px;
  }
}

body main .menu_contneur .menu_plat .menu .menuPlat_titre_icon {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body main .menu_contneur .menu_plat .menu .menuPlat_titre_icon h2 {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 5px 0;
}

body main .menu_contneur .menu_plat .menu .menuPlat_titre_icon p {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 0;
  text-overflow: ellipsis;
}

body main .menu_contneur .menu_plat .menu span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-right: 0;
  margin-left: auto;
}

@media (min-width: 1024px) {
  body main .menu_contneur .menu_plat .menu span {
    bottom: 25px;
    padding: 10px 0px 0 5px;
  }
}

body main .menu_contneur .menu_plat .menu .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body main .menu_contneur .menu_plat .menu .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  width: 20%;
  left: 100%;
  padding: 20px 0;
  border-radius: 0 12px 12p;
  margin-right: -50px;
  border-radius: 0 12px 12px 0;
  visibility: hidden;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@media (min-width: 700px) {
  body main .menu_contneur .menu_plat .menu .slider {
    width: 10%;
  }
}

@media (min-width: 1024px) {
  body main .menu_contneur .menu_plat .menu .slider {
    width: 26%;
  }
}

body main .menu_contneur .menu_plat .menu:hover .slider {
  visibility: visible;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  margin-left: 60px;
  visibility: visible;
}

body main .menu_contneur .menu_plat .menu:hover .slider .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

body main .menu_contneur .menu_desserts .titre_déssert {
  padding-left: 20px;
  margin: 14px 0 23px 0;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media (min-width: 700px) {
  body main .menu_contneur .menu_desserts .titre_déssert {
    padding-left: 50px;
  }
}

@media (min-width: 1024px) {
  body main .menu_contneur .menu_desserts .titre_déssert {
    padding-left: 10px;
  }
}

body main .menu_contneur .menu_desserts .titre_déssert::after {
  display: block;
  position: relative;
  content: "";
  background-color: #99E2D0;
  bottom: -10px;
  height: 2px;
  width: 55px;
}

body main .menu_contneur .menu_desserts .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  width: 90%;
  -webkit-box-shadow: 1px 1px 1px #d4d3d3;
          box-shadow: 1px 1px 1px #d4d3d3;
  overflow: hidden;
  padding-left: 10px;
  -webkit-animation: menu 3s linear;
          animation: menu 3s linear;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@media (min-width: 1024px) {
  body main .menu_contneur .menu_desserts .menu {
    width: 300px;
  }
}

body main .menu_contneur .menu_desserts .menu .menuDesert_titre_icon {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0;
}

body main .menu_contneur .menu_desserts .menu .menuDesert_titre_icon h2 {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 5px 0;
}

body main .menu_contneur .menu_desserts .menu .menuDesert_titre_icon p {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 0;
}

body main .menu_contneur .menu_desserts .menu span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px 5px 0 5px;
  margin-left: auto;
}

@media (min-width: 1024px) {
  body main .menu_contneur .menu_desserts .menu span {
    bottom: 25px;
  }
}

body main .menu_contneur .menu_desserts .menu .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body main .menu_contneur .menu_desserts .menu .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  width: 20%;
  left: 100%;
  padding: 20px 0;
  border-radius: 0 12px 12p;
  margin-right: -50px;
  border-radius: 0 12px 12px 0;
  visibility: hidden;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@media (min-width: 700px) {
  body main .menu_contneur .menu_desserts .menu .slider {
    width: 10%;
  }
}

@media (min-width: 1024px) {
  body main .menu_contneur .menu_desserts .menu .slider {
    width: 20%;
  }
}

body main .menu_contneur .menu_desserts .menu:hover .slider {
  visibility: visible;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  margin-left: 60px;
  visibility: visible;
}

body main .menu_contneur .menu_desserts .menu:hover .slider .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

body main .btn_commande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto 0;
  padding: 0 25px;
  border: none;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
  border-radius: 100px;
  background-color: #5a5a5a;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  margin-top: 40px;
  padding: 10px 35px;
  font-size: 13px;
}

@media (min-width: 1024px) {
  body main .btn_commande {
    padding: 15px 45px;
    font-size: 15px;
  }
}

body main .btn_commande:hover {
  background-color: white;
  -webkit-box-shadow: 7px 7px 7px #8d8a8a;
          box-shadow: 7px 7px 7px #8d8a8a;
}

body footer {
  background-color: #383838;
}

body footer .footer_items {
  margin: 0px;
  padding: 10px;
}

body footer .footer_items h2 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  padding-left: 13px;
  color: #e7e7e7;
  margin: 2px;
}

@media (min-width: 700px) {
  body footer .footer_items h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 23px;
  }
}

@media (min-width: 700px) {
  body footer .footer_items .footerparagraph_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body footer .footer_items .footerparagraph_icons div {
  padding: 0 15px;
}

body footer .footer_items .footerparagraph_icons .footer_propose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dbdbdb;
}

body footer .footer_items .footerparagraph_icons .footer_partneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d8d7d7;
}

body footer .footer_items .footerparagraph_icons p {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding: 0 10px;
  margin: 5px;
}

body footer .footer_items .footerparagraph_icons .mention_legal {
  padding: 15px;
}

@media (min-width: 700px) {
  body footer .footer_items .footerparagraph_icons .mention_legal {
    padding-top: 20px 0 0 20;
  }
}

body footer .footer_items .footerparagraph_icons .mention_legal a {
  color: #e4e3e3;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

body footer .footer_items .footerparagraph_icons .contact {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding: 0 15px;
  color: #dbdbdb;
  padding-bottom: 20px;
}

@media (min-width: 700px) {
  body footer .footer_items .footerparagraph_icons .contact {
    padding: 15px 0 0 40px;
  }
}

body footer .footer_items .footerparagraph_icons .contact a {
  color: white;
  text-decoration: none;
}

body footer .footer_items .footerparagraph_icons .contact a:hover {
  color: #e94b4b;
}
/*# sourceMappingURL=menu3.css.map */