
@import 'config';
@import 'chargementDepage';

body{
    padding:0;
    margin:0 auto;
    box-sizing:border-box;
    height:100%;
    width:100%;
    max-width:1500px;
    min-width:100px;
    background-color:$fond-gris;
 
  header{ 
    .header_items{
      background-color:white;
       @include flexCenter2;
       justify-content:space-between;
       .fas{
         padding-left:15px;
         font-size:15px;
       }
       }
       h1{
        display:flex;
        font-family:$police-logo-titre;
        font-size:25px;
        margin:0 auto;
        @include ipad{
          font-size:35px;
        }
       }
   }
   img{
     margin-top:20px;
     position: relative;
     z-index:-1;
     min-width:150px;
     max-width:100%;
     width:100%;
     height:250px;
     object-fit: cover;
     margin-top:0;
     @include ipad{
       margin-top:0;
       height:400px;
       
     }
     
   }

 main{
     background-color:$fond-gris;
    transform: translateY(-50px);
    border-radius:40px 40px 0 0;
   .menu_contneur {
    
     .titres_icon {
       @include flexCenter2;
       justify-content: space-between;
      h1 {
         font-family:$police-logo-titre;
          font-size:21px;
          padding-left:20px;
          margin:30px 0 0;
          @include ipad{
            padding-left:50px;
          }
          @include desktop{
            padding-left:70px;
          }
      }
      .coeurs{
        display:flex;
        padding:30px 20px 0 0 ;
        @include ipad{
          padding-right:40px;
        }
        @include desktop{
          padding-right:50px;
        }
        .coeur1{
          font-size: 25px;
          transform:translateX(24px);
          z-index:1;
          font-size:24px;
          color:rgb(133, 131, 131);
        }
        .coeur2{
          transform: scale(0.9);
          background: -webkit-linear-gradient( 175deg, #FF79DA 10%, #9356DC 95%);
          -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
           font-size:24px;
           opacity:0;
           transition:.7s linear;
        }
         .coeur1:hover + .coeur2{
           opacity:0.9;
           transform: scale(1);
         }
        
      }
     }

     .box_menu_contneur{
       @include ipad{
         display:block;
         justify-content:space-around;
         @include desktop{
          display:flex;
          justify-content:space-around;
         }
       }
     }


     .menu_entrée{
      .entrée_titre {
        padding-left:25px;
        @include section-p;
        width:75px;
        padding-bottom:5px;
        @include ipad{
          padding-left:50px;
        }
        @include desktop{
          padding-left:10px;
        }
        
       }
      .entrée_titre::after{
        display: block;
        position: relative;
        content: "";
        background-color:$couleur-Tertiaire;
        bottom:-10px;
        height:2px;
        width:55px; 
        @include desktop{
          
        }
      }
        

     .menu{
       display:flex;
       justify-content:center;
       align-items:center;
       padding-right:0px;
       background-color:white;
       position: relative;
       border-radius:10px;
       margin:10px auto;
       cursor: pointer;
       width: 90%;
       box-shadow: 1px 1px 1px rgb(212, 211, 211);
       overflow: hidden;
       padding-left: 10px;
       animation:menu .9s linear ;
       transform-origin:top;
       @include desktop{
       width:300px;
      }
       @keyframes menu {
         0%{
           transform: translateY(-40px);
           opacity:0.1;
   
         }
         100%{
           transform: translateY(0px);
           background-color:white;
           
         }
       }
 
  
     
    .menu_titre_icon{
      display: flex;
      flex-direction:column;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
        h2{
          @include section-h2;
          margin:0 0 5px 0;
        }
        p{
          @include section-menu-p;
          margin:1px 0 0 0 ; 
          
        }   
      }
       span{
       display:flex;
       align-items:center;
       font-family:$police-text;
       font-weight:bold;
       padding:10px 5px 0 5px;
       margin-left:auto;
      @include desktop{
        bottom:25px;
        }
      }

      .fas{
        display:flex;
        justify-content: center;
        align-items:center;
        color:white;
        font-weight:bold;
        font-size:25px;
        transform:rotate(180deg);
      }
      
    .slider{
      display:flex;
      flex-direction:column;
      justify-content: center;
      background-color:$couleur-Tertiaire;
       width:20%;
       left:100%;
       padding:20px 0;
       border-radius:0 12px 12p;
       margin-right: -50px;
       border-radius:0 12px 12px 0;
      visibility: hidden;
      z-index:31;
       transition:.2s linear;
       @include ipad{
         width:10%;
       }
       @include desktop{
         width:20%;
       }
       
      }
    &:hover .slider {
     visibility: visible;
       transform:translateX(-50px);
       margin-left:60px;
        visibility: visible;
      & .fas{
       transform:rotate(0deg);
       transition:.5s linear;
      }

      }
      
      }
   
     
    }
    
   
    
     .menu_plat{
     .plat_titre {
       padding-left:20px;
       margin: 14px 0 23px 0;
      @include section-p;
      @include ipad{
        padding-left:50px;
      }
      @include desktop{
        padding-left:10px;
      }
      
     }  
     .plat_titre::after{
      display: block;
      position: relative;
      content: "";
      background-color:$couleur-Tertiaire;
      bottom:-10px;
      height:2px;
      width:45px; 
    }
      .menu{
        display:flex;
        justify-content:center;
        align-items:center;
        padding-right:0px;
        background-color:white;
        position: relative;
        border-radius:10px;
        margin:10px auto;
        cursor: pointer;
        width: 90%;
        box-shadow: 1px 1px 1px rgb(212, 211, 211);
        overflow: hidden;
       padding-left: 10px;
       @include desktop{
        width:300px;
      }
      animation: menu 2s linear;
      transform-origin: top;
      
   .menuPlat_titre_icon{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
      h2{
      @include section-h2;
      margin:0 0 5px 0;
     }
     p{
      @include section-menu-p;
      margin:0;
      text-overflow:ellipsis;
      }   
     }
     span{
      display:flex;
      align-items:center;
      font-family:$police-text;
       font-weight:bold;
      padding-right:0;
      margin-left:auto;
      @include desktop{
        bottom:25px;
        padding:10px 0px 0 5px;
        }

      }
      .fas{
        display:flex;
        justify-content: center;
        align-items:center;
        color:white;
        font-weight:bold;
        font-size:25px;
        transform:rotate(180deg);
      }
        .slider{
          display:flex;
          flex-direction:column;
          justify-content: center;
          background-color:$couleur-Tertiaire;
           width:20%;
           left:100%;
           padding:20px 0;
           border-radius:0 12px 12p;
           margin-right: -50px;
           border-radius:0 12px 12px 0;
          visibility: hidden;
           transition:.2s linear;
           @include ipad{
             width:10%;
           }
           @include desktop{
            width:26%;
          }
          }
        &:hover .slider {
         visibility: visible;
           transform:translateX(-50px);
           margin-left:60px;
            visibility: visible;
            & .fas{
              transform:rotate(0deg);
              transition:.5s linear;
             }
    
          }
    
    }
}



.menu_desserts{
  .titre_déssert {
    padding-left:20px;
    margin: 14px 0 23px 0;
    @include section-p;
    @include ipad{
      padding-left:50px;
    }
    @include desktop{
      padding-left:10px;
    }
}  

.titre_déssert::after{
  display: block;
  position: relative;
  content: "";
  background-color:$couleur-Tertiaire;
  bottom:-10px;
  height:2px;
  width:55px; 
}

.menu{
  display:flex;
  justify-content:center;
  align-items:center;
  padding-right:0px;
  background-color:white;
  position: relative;
  border-radius:10px;
  margin:10px auto;
  cursor: pointer;
  width: 90%;
  box-shadow: 1px 1px 1px rgb(212, 211, 211);
  overflow: hidden;
  padding-left: 10px;
  @include desktop{
    width:300px;
  }
  animation: menu 3s linear;
  transform-origin: top;
  
  .menuDesert_titre_icon{
    white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    padding:10px 0;
    h2{
      @include section-h2;
      margin:0 0 5px 0;
    }
    p{
      @include section-menu-p;
      margin:0;
    }   
  }
  span{
    display:flex;
    align-items:center;
    font-family:$police-text;
    font-weight:bold;
    padding:10px 5px 0 5px;
    margin-left:auto;
    @include desktop{
      bottom:25px;
      }

    }
    .fas{
      display:flex;
      justify-content: center;
      align-items:center;
      color:white;
      font-weight:bold;
      font-size:25px;
      transform:rotate(180deg);
    }
    .slider{
      display:flex;
      flex-direction:column;
      justify-content: center;
      background-color:$couleur-Tertiaire;
       width:20%;
       left:100%;
       padding:20px 0;
       border-radius:0 12px 12p;
       margin-right: -50px;
       border-radius:0 12px 12px 0;
      visibility: hidden;
       transition:.2s linear;
       @include ipad{
         width:10%;
       }
       @include desktop{
        width:20%;
      }
      }
    &:hover .slider {
     visibility: visible;
       transform:translateX(-50px);
       margin-left:60px;
        visibility: visible;
        & .fas{
          transform:rotate(0deg);
          transition:.5s linear;
         }

      }

}
}



}

.btn_commande{
  display:flex;
  margin:40px auto 0;
  padding:0 25px;
  border:none;
  font-weight: 500;
  font-size: 1.1rem;
  color:white;
  border-radius:100px;
  background-color:rgb(90, 90, 90);
  background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
  cursor:pointer;
  transition-duration:.5s;
  margin-top:40px;
  padding:10px 35px ;
  font-size:13px;
  @include desktop{
    padding:15px 45px ;
    font-size:15px;
  }


  &:hover{
    background-color:white;
    box-shadow:7px 7px 7px rgb(141, 138, 138);
  }
}

}


footer{
  background-color:rgb(56, 56, 56);
  height:100%;
  margin:0px;
 
  .footer_items{
    margin:0 10px;
    padding:8px;
    
    }
    h2{
      display:flex;
      font-family:$police-logo-titre;
       font-size:20px;
      margin-bottom:10px;
      color:white;
       @include ipad{
         display:flex;
         justify-content:center;
       }
    }
    .footerparagraph_icons{
      @include ipad{
        display:flex;
        flex-direction:row;
        justify-content: center;
      }
      div{
        padding:0 10px;
      }
    
    .footer_propose{
      padding-left:0;
      @include flexCenter2;
      color: rgb(219, 219, 219);
    }
    .footer_partneur{
      padding-left:0;
      @include flexCenter2;
      color: rgb(236, 236, 236);
    }
  
  p{
    @include section-h3;
    font-size:12px;
    padding:0 10px;
    margin:5px;
    
  } 
  .mention_légal{
    padding:2px 0;
    @include ipad{
      padding-top:20px 0 0 20px;
    }
    a{
    @include section-h3;
    font-size:12px;
    padding:0;
    color:rgb(219, 219, 219);
    text-decoration:none;
  }
 
  }
  .contact{
      @include section-h3;
      font-size:12px;
      padding:6px 0 ;
      color:rgb(219, 219, 219);
      padding-bottom:20px;
      @include ipad{
        padding:13px 0 0 40px;
      }
    
      a{
        color:white;
        text-decoration:none;
        &:hover{
          color: rgb(233, 75, 75);
        }
      }
  }
  }
}

}