@charset "UTF-8";
.chargementDepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 3;
  position: fixed;
  -webkit-animation: bg 3s linear both;
          animation: bg 3s linear both;
}

@-webkit-keyframes bg {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .7;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .3;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}

@keyframes bg {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .7;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .3;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}

.chargementDepage .points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 50%;
  right: 50%;
}

.chargementDepage .points div {
  margin: 0px 10px;
  border-radius: 50%;
}

.chargementDepage .points .point1 {
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  -webkit-animation: points_rebond 1.3s linear 3 both;
          animation: points_rebond 1.3s linear 3 both;
}

.chargementDepage .points .point2 {
  width: 20px;
  height: 20px;
  background-color: #FF79DA;
  -webkit-animation: points_rebond 1.6s linear 3 both;
          animation: points_rebond 1.6s linear 3 both;
}

.chargementDepage .points .point3 {
  width: 20px;
  height: 20px;
  background-color: #99E2D0;
  -webkit-animation: points_rebond 1.9s linear 3 both;
          animation: points_rebond 1.9s linear 3 both;
}

@-webkit-keyframes points_rebond {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes points_rebond {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

body {
  position: relative;
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  min-width: 100px;
  z-index: 1;
}

@media (min-width: 700px) {
  body {
    width: 100%;
  }
}

body header {
  width: 100%;
}

@media (min-width: 700px) {
  body header {
    min-width: 500px;
  }
}

body header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  margin-left: auto;
  padding-top: 20px;
}

body header .header_conteneur {
  display: block;
  width: 100%;
  height: 330px;
  background-color: #f2f2f2;
}

body header .header_conteneur .header_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #e7e7e7;
  border-top: 3px #d6d5d5 solid;
}

body header .header_conteneur .header_location .paris_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

body header .header_conteneur .header_location .paris_location .header_loction_titre {
  padding-left: .6rem;
  font: bolder 1rem 'Roboto', sans-serif;
  color: #4b4848;
}

body header .header_conteneur .header_location .paris_location .icon_location {
  color: #2e2d2d;
  font-size: 15px;
}

body header .header_conteneur .header_contneur_contenu {
  text-align: center;
}

body header .header_conteneur .header_contneur_contenu h1 {
  padding: 0 15px;
  font-size: 20px;
  font-weight: bold 700;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 700px) {
  body header .header_conteneur .header_contneur_contenu h1 {
    font-size: 25px;
  }
}

body header .header_conteneur .header_contneur_contenu p {
  font: 500 1rem "Roboto", sans-serif;
  color: gray;
  padding: 0 10px;
}

@media (min-width: 700px) {
  body header .header_conteneur .header_contneur_contenu p {
    font-size: 20px;
  }
}

body header .header_conteneur .header_contneur_contenu button {
  border: none;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
  border-radius: 100px;
  background-color: #5a5a5a;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  margin-top: 20px;
  padding: 17px;
}

body header .header_conteneur .header_contneur_contenu button:hover {
  background-color: white;
  -webkit-box-shadow: 7px 7px 7px #8d8a8a;
          box-shadow: 7px 7px 7px #8d8a8a;
}

body .section_buttons {
  text-align: center;
  margin-top: 50px;
}

body .section_buttons h1 {
  font-size: 20px;
  font-weight: bold 700;
  font-family: 'Roboto', sans-serif;
  padding-right: 7rem;
  margin-bottom: 0;
}

@media (min-width: 700px) {
  body .section_buttons h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 2rem;
    font-size: 30px;
    margin: 10px 0;
  }
}

@media (min-width: 1024px) {
  body .section_buttons h1 {
    padding-left: 50px;
  }
}

@media (min-width: 370px) {
  body .section_buttons h1 {
    padding-left: .5rem;
  }
}

body .section_buttons .buttons_dechoix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 25px;
  margin-top: 5px;
}

@media (min-width: 700px) {
  body .section_buttons .buttons_dechoix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 40px;
  }
}

@media (min-width: 370px) {
  body .section_buttons .buttons_dechoix {
    padding-left: 50px;
  }
}

body .section_buttons .buttons_dechoix li {
  list-style-type: none;
}

body .section_buttons .buttons_dechoix li .button {
  position: relative;
  width: 83%;
  min-width: 10%;
  margin: .9rem 0;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  background-color: #f2f2f2;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 0.2px #e0e0e0;
          box-shadow: 2px 2px 2px 0.2px #e0e0e0;
  cursor: pointer;
}

@media (min-width: 370px) {
  body .section_buttons .buttons_dechoix li .button {
    width: 70%;
    padding-right: 60px;
  }
}

body .section_buttons .buttons_dechoix li .button:hover {
  background-color: #f4ebff;
  -webkit-box-shadow: 5px 5px 0.3 #afafaf;
          box-shadow: 5px 5px 0.3 #afafaf;
}

@media (min-width: 700px) {
  body .section_buttons .buttons_dechoix li .button {
    margin: 10px 45px 10px 20px;
    padding: 0 10px;
    width: 300px;
    height: 90px;
  }
}

body .section_buttons .buttons_dechoix li .button .btn_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0;
}

@media (min-width: 370px) {
  body .section_buttons .buttons_dechoix li .button .btn_items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 700px) {
  body .section_buttons .buttons_dechoix li .button .btn_items {
    padding-top: 20px;
  }
}

body .section_buttons .buttons_dechoix li .button .btn_items span {
  position: absolute;
  left: -15px;
  top: 16px;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
}

@media (min-width: 700px) {
  body .section_buttons .buttons_dechoix li .button .btn_items span {
    top: 30px;
  }
}

body .section_buttons .buttons_dechoix li .button .btn_items .icon_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.2rem;
  text-align: center;
  padding-top: 0px;
}

@media (min-width: 370px) {
  body .section_buttons .buttons_dechoix li .button .btn_items .icon_text {
    padding-right: 10px;
  }
}

body .section_buttons .buttons_dechoix li .button .btn_items .icon_text .fas {
  color: #8a8888;
  padding-right: 10px;
}

@media (min-width: 700px) {
  body .section_buttons .buttons_dechoix li .button .btn_items .icon_text .fas {
    padding-right: 0;
  }
}

@media (min-width: 370px) {
  body .section_buttons .buttons_dechoix li .button .btn_items .icon_text .fas {
    padding-right: 13px;
  }
}

body .section_buttons .buttons_dechoix li .button .btn_items p {
  padding-left: 1rem;
  font: 600 1rem 'Roboto', sans-serif;
  color: #3a3939;
}

@media (min-width: 700px) {
  body .section_buttons .buttons_dechoix li .button .btn_items p {
    font-size: 20px;
  }
}

@media (min-width: 370px) {
  body .section_buttons .buttons_dechoix li .button .btn_items p {
    padding-left: 10px;
    font-size: 14px;
  }
}

body main {
  background-color: #f2f2f2;
}

body main .section_cartes {
  background-color: #f2f2f2;
  height: 100%;
  margin-top: 50px;
}

@media (min-width: 700px) {
  body main .section_cartes {
    width: 100%;
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  body main .section_cartes {
    margin-top: 10px;
  }
}

body main .section_cartes h1 {
  font-size: 20px;
  font-weight: bold 700;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 20px 0 0 20px;
}

@media (min-width: 700px) {
  body main .section_cartes h1 {
    padding-left: 40px;
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  body main .section_cartes h1 {
    padding-left: 60px;
  }
}

body main .section_cartes .cartes_conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 700px) {
  body main .section_cartes .cartes_conteneur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body main .section_cartes .cartes_conteneur .carte {
  position: relative;
  width: 90%;
  background-color: white;
  margin: 20px 0 10px 0;
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 2px 2px #c4c4c4;
          box-shadow: 2px 2px 2px 2px #c4c4c4;
}

body main .section_cartes .cartes_conteneur .carte:hover {
  -webkit-box-shadow: 2px 2px 2px 2px #c4c4c4;
          box-shadow: 2px 2px 2px 2px #c4c4c4;
  background-color: #ececec;
}

@media (min-width: 700px) {
  body main .section_cartes .cartes_conteneur .carte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 45%;
    margin: 10px;
    -webkit-box-shadow: 3px 3px 0.9px #e4e3e3;
            box-shadow: 3px 3px 0.9px #e4e3e3;
  }
}

body main .section_cartes .cartes_conteneur .carte .carte_img img {
  min-width: 150px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0 0;
}

@media (min-width: 1024px) {
  body main .section_cartes .cartes_conteneur .carte .carte_img img {
    height: 320px;
  }
}

body main .section_cartes .cartes_conteneur .carte .carte_img button {
  background-color: #99E2D0;
  font: bold 1rem 'Roboto', sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  color: #0e8d6d;
  padding: 8px 15px;
  font-size: 14px;
}

body main .section_cartes .cartes_conteneur .carte .carte_footer_items h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  padding-left: 10px;
}

body main .section_cartes .cartes_conteneur .carte .carte_footer_items p {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 2px;
  padding-left: 12px;
  margin-bottom: 7px;
}

body main .section_cartes .cartes_conteneur .carte .carte_footer_items .coeurs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

body main .section_cartes .cartes_conteneur .carte .carte_footer_items .coeurs .coeur1 {
  font-size: 25px;
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
  z-index: 1;
  font-size: 24px;
  color: #858383;
}

body main .section_cartes .cartes_conteneur .carte .carte_footer_items .coeurs .coeur2 {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background: -webkit-linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  opacity: 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
}

body main .section_cartes .cartes_conteneur .carte .carte_footer_items .coeurs .coeur1:hover + .coeur2 {
  opacity: 0.9;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 2;
  cursor: pointer;
}

body footer {
  background-color: #383838;
  height: 100%;
  margin: 20px 0;
}

body footer .footer_items {
  margin: 0 10px;
  padding: 20px;
}

body footer .footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  margin-bottom: 0;
  color: white;
}

@media (min-width: 700px) {
  body footer .footer_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 700px) {
  body footer .footerparagraph_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body footer .footerparagraph_icons div {
  padding: 0 10px;
}

body footer .footerparagraph_icons .footer_propose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dbdbdb;
}

body footer .footerparagraph_icons .footer_partneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ececec;
}

body footer .footerparagraph_icons p {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 0 10px;
  margin: 5px;
}

body footer .footerparagraph_icons .mention_légal {
  padding: 10px 0;
}

@media (min-width: 700px) {
  body footer .footerparagraph_icons .mention_légal {
    padding-top: 20px 0 0 20px;
  }
}

body footer .footerparagraph_icons .mention_légal a {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 0;
  color: #dbdbdb;
  text-decoration: none;
}

body footer .footerparagraph_icons .contact {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 0;
  color: #dbdbdb;
  padding-bottom: 20px;
}

@media (min-width: 700px) {
  body footer .footerparagraph_icons .contact {
    padding: 13px 0 0 40px;
  }
}

body footer .footerparagraph_icons .contact a {
  color: white;
  text-decoration: none;
}

body footer .footerparagraph_icons .contact a:hover {
  color: #e94b4b;
}
/*# sourceMappingURL=style.css.map */