@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  min-width: 100px;
}

body header {
  width: 100%;
}

body header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Shrikhand", cursive;
  font-size: 40px;
  margin-left: auto;
}

body header .header_conteneur {
  display: block;
  width: 100%;
  height: 350px;
  background-color: #f2f2f2;
}

body header .header_conteneur .header_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #e7e7e7;
  border-top: 3px #d6d5d5 solid;
}

body header .header_conteneur .header_location .paris_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

body header .header_conteneur .header_location .paris_location .header_loction_titre {
  padding-left: .6rem;
  font: bolder 1rem 'Roboto', sans-serif;
  color: #4b4848;
}

body header .header_conteneur .header_location .paris_location .icon_location {
  color: #2e2d2d;
  font-size: 15px;
}

body header .header_conteneur .header_contneur_contenu {
  text-align: center;
}

body header .header_conteneur .header_contneur_contenu .titre_contenue {
  font-size: 24px;
  font-weight: bold 700;
  font-family: 'Roboto', sans-serif;
}

body header .header_conteneur .header_contneur_contenu .paragraph_contenu {
  font: 500 1.2rem "Roboto", sans-serif;
  color: gray;
}

body header .header_conteneur .header_contneur_contenu button {
  border-radius: 2rem;
  border: none;
  background-color: #FF79DA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: #f3f3f3;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 0 2rem;
  cursor: pointer;
  font-weight: 600;
}

body header .header_conteneur .header_contneur_contenu button:hover {
  background-color: #28ee32;
  color: white;
}

body .section_buttons {
  text-align: center;
  margin-top: 50px;
}

body .section_buttons .titre_buttons {
  font-size: 24px;
  font-weight: bold 700;
  font-family: 'Roboto', sans-serif;
  padding-right: 9rem;
  margin-bottom: 0;
}

body .section_buttons .buttons_dechoix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-top: 5px;
}

body .section_buttons .buttons_dechoix li {
  list-style-type: none;
}

body .section_buttons .buttons_dechoix li button {
  position: relative;
  width: 90%;
  margin: .9rem 0;
  padding: 0.3rem 2rem;
  border-radius: 1rem;
  background-color: #f2f2f2;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 0.2px #e0e0e0;
          box-shadow: 2px 2px 2px 0.2px #e0e0e0;
}

body .section_buttons .buttons_dechoix li button:hover {
  background-color: #f4ebff;
}

body .section_buttons .buttons_dechoix li button .btn_items {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

body .section_buttons .buttons_dechoix li button .btn_items span {
  position: absolute;
  left: -15px;
  top: 15px;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
}

body .section_buttons .buttons_dechoix li button .btn_items .icon_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  text-align: center;
}

body .section_buttons .buttons_dechoix li button .btn_items .icon_text .fas {
  color: gray;
  padding-right: 10px;
}

body .section_buttons .buttons_dechoix li button .btn_items p {
  padding-left: 1rem;
  font: 600 1rem 'Roboto', sans-serif;
  color: #3a3939;
}

main {
  background-color: #f2f2f2;
}

main .section_cartes {
  background-color: #f2f2f2;
  height: 100%;
  margin-top: 50px;
}

main .section_cartes .header_cartes_titre {
  font-size: 24px;
  font-weight: bold 700;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 20px 0 0 15px;
}

main .section_cartes .cartes_conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section_cartes .cartes_conteneur .carte {
  position: relative;
  width: 95%;
  background-color: white;
  margin: 20px 0 10px 0;
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 2px 0.9px white;
          box-shadow: 2px 2px 2px 0.9px white;
}

main .section_cartes .cartes_conteneur .carte .carte_img img {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0 0;
}

main .section_cartes .cartes_conteneur .carte .carte_img button {
  background-color: #99E2D0;
  font: bold 1rem 'Roboto', sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0 20px;
  border: none;
}

main .section_cartes .cartes_conteneur .carte .carte_img button p {
  margin: 5px 0;
  color: #0e8d6d;
}

main .section_cartes .cartes_conteneur .carte .carte_footer_items h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  padding-left: 10px;
}

main .section_cartes .cartes_conteneur .carte .carte_footer_items p {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top: 2px;
  padding-left: 12px;
}

main .section_cartes .cartes_conteneur .carte .carte_footer_items .far {
  color: #3f3e3e;
  position: absolute;
  bottom: 15px;
  right: 25px;
  font-size: 25px;
}

main footer {
  background-color: #383838;
  height: 100%;
  margin-top: 40px;
}

main footer .footer_items {
  margin: 15px 10px;
  padding: 20px;
}

main footer .footer_items .footer_logo {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  color: #eceaea;
  margin: 2px;
}

main footer .footer_items .footer_propo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dbdbdb;
}

main footer .footer_items .footer_partneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ececec;
}

main footer .footer_items p {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 0 10px;
  margin: 5px;
}

main footer .footer_items .mention_légal {
  padding: 10px 0;
}

main footer .footer_items .mention_légal a {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 0;
  color: #dbdbdb;
}

main footer .footer_items .contact {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 0;
  color: #dbdbdb;
  padding-bottom: 20px;
}

main footer .footer_items .contact a {
  color: white;
}
/*# sourceMappingURL=style.css.map */