@import 'config';


body{
  padding:0;
  margin:0;
  box-sizing:border-box;
  height:100%;
  width:100%;
  max-width:1500px;
  min-width:100px;
 
 
header{
    width:100%;

.logo {
  display:flex;
  justify-content: center;
  font-family:$police-logo-titre;
   font-size:40px;
  margin-left:auto;
    
 }

.header_conteneur{
    display:block;
    width:100%;
    height:350px;
    background-color:$fond-gris;

  .header_location{
      display:flex;
      justify-content: center;
      width:100%;
      height:50px;
      background-color:rgb(231, 231, 231);
      border-top:3px rgb(214, 213, 213) solid;
   
 .paris_location {
     @include flexCenter2;
     padding:0.5rem;

.header_loction_titre{
     padding-left:.6rem;
     font:bolder 1rem 'Roboto', sans-serif;
     color:rgb(75, 72, 72);
  
 }
    
 .icon_location{
     color:rgb(46, 45, 45);
     font-size:15px;
}
}
}
.header_contneur_contenu{
   text-align: center;

 .titre_contenue{
    @include h1-index;
  }
  .paragraph_contenu{
  font:500 1.2rem'Roboto', sans-serif;
  color:gray
  }
  button{
   @include buttons;
   @include section-p;
   padding:0 2rem;
   cursor: pointer;
   font-weight:map-get($font-weights,bold );
   &:hover{
     background-color:#28ee32;
     color:white;
     
   }
  }
}
}
}


// section

 
  .section_buttons{
   text-align:center;
   margin-top:50px;
    
  .titre_buttons{
      @include h1-index;
      padding-right:9rem;
      margin-bottom:0;
    }

  .buttons_dechoix{
    display:flex;
    flex-direction:column;
     padding-left:0;
     margin-top:5px;

  li {
    list-style-type:none;
  button{
    position: relative;
    width:90%;
    margin:.9rem 0;
   padding:0.3rem 2rem;
    border-radius:1rem;
    background-color:$fond-gris;
    border:none;
    box-shadow:2px 2px 2px 0.2px rgb(224, 224, 224);
 &:hover{
    background-color:#f4ebff;

  }
  .btn_items{
      flex-direction:column;
      @include flexCenter2;
      padding-left:0;
    
      span{
        position:absolute;
        left:-15px;
        top:15px;
        width:2rem;
        height:2rem;
        @include flexCenter;
        background-color:$couleur-Primaiere;
        border-radius:50%;
        color:white;
      }
  .icon_text{
      @include flexCenter2;
        padding-left:1rem;
        text-align:center;

    .fas{
          color:gray;
          padding-right:10px;
        
        }
        }
      p{
        padding-left:1rem;
       font:600 1rem 'Roboto', sans-serif;
       color:rgb(58, 57, 57);
      }
     }
    }
  }
  }
  }  
 }
  main{
    background-color:$fond-gris;
  
 .section_cartes{
   background-color:$fond-gris;
   height:100%;
   margin-top:50px;
  .header_cartes_titre{
    @include h1-index;
      height:100%;
      margin:0;
      padding:20px 0 0 15px;
  }
  .cartes_conteneur{
    display: flex;
    flex-direction: column;
    align-items: center;
    .carte{
          position: relative;
          width:95%;
         background-color:rgb(255, 255, 255);
         margin:20px 0 10px 0;
         border-radius:12px;
         box-shadow:2px 2px 2px 0.9px white;
    .carte_img{
      img{
     min-width:150px;
     max-width:100%;
      width:100%;
      height:200px;
      object-fit: cover;
      border-radius:12px 12px 0 0
      }
      button {
      background-color:$couleur-Tertiaire;
      font:bold 1rem 'Roboto', sans-serif;
      position:absolute;
      top:10px;
      right:10px;
      padding:0 20px;
      border:none;

      p{
      margin:5px 0;
      color:#0e8d6d;
        }

    }
  }
  .carte_footer_items{
    h3{
      @include section-h3;
      margin:5px;
      padding-left:10px;
  }

  p{
    @include section-p;
       margin-top:2px;
       padding-left:12px;
  }
  .far{
    color:rgb(63, 62, 62);
    position:absolute;
    bottom:15px;
    right:25px;
    font-size:25px;
  }
}



}
}
  }
    
  

footer{
  background-color:rgb(56, 56, 56);
  height:100%;
  margin-top:40px;
  .footer_items{
    margin:15px 10px;
    padding:20px;
    .footer_logo{
      font-family:$police-logo-titre;
      font-size:25px;
       color:rgb(236, 234, 234);
       margin:2px;
      
    }
    .footer_propo{
      @include flexCenter2;
      color: rgb(219, 219, 219);
    }
    .footer_partneur{
      @include flexCenter2;
      color: rgb(236, 236, 236);
    }
  
  p{
    @include section-h3;
    font-size:16px;
    padding:0 10px;
    margin:5px;
    
  } 
  .mention_légal{
    padding:10px 0;
    a{
    @include section-h3;
    font-size:16px;
    padding:0;
    color:rgb(219, 219, 219);
  }
 
  }
  .contact{
      @include section-h3;
      font-size:16px;
      padding:0 ;
      color:rgb(219, 219, 219);
      padding-bottom:20px;
    
      a{
        color:white;
      }
  }
  }
}

}

 

 